{% extends 'base.html' %}
{% load static %}

{% block content %}

<main id="signup-section">
    <div class="max-w-7xl mx-auto flex flex-col items-center justify-center">
        <div>
            <h2 class="main-title">welcome to art gallery bienne</h1>
            <p class="text-blue-500">ullamcorper dignissim cras tincidunt lobortis feugiat vivamus at augue eget arcu dictum</p>
        </div>
        <div>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Signup</button>
            </form>
        </div>
        <div>
            <p>Already have an account? <a href="{% url 'login' %}">LOGIN</a></p>
        </div>
    </div>
</main>

{% endblock content %}
