{% extends 'base.html' %}
{% load static %}

{% block content %}

<section class="submit-section relative">
    <main id="art-create-section" class="max-w-7xl py-20 mx-auto">
        <div class="grid grid-cols-12 place-content-start px-[60px] gap-x-[30px]">
            <div class="col-start-4 col-end-10 row-span-full">
                <h2 class="main-title">submit your art</h1>
            </div>
            <div class="my-6 col-start-5 col-end-9">
                <form method="post" class="w-full" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input type="submit" value="Save">
                    <!-- {% for field in form %}
                    <div class="w-full my-6 rounded-sm">
                        <p>{{ field.errors }}</p>
                        <p class="font-normal text-black-steel font-serif text-lg leading-[160%]">
                            {{ field }}
                        </p>
                    </div>
                    {% endfor %}
                    <button class="text-white font-normal font-serif text-lg leading-7 w-full bg-gold-leaf rounded-sm py-2" type="submit">submit</button> -->
                </form>
            </div>
        </div>
    </main>
</section>

{% endblock content %}
