{% extends 'base.html' %}
{% load static %}

{% block content %}

<section class="list-section relative">
    <main id="art-list-section" class="max-w-7xl py-20 mx-auto">
        <div class="grid grid-cols-12 place-content-start px-[60px] gap-x-[30px]">
            <div class="col-start-4 col-end-10 mb-28">
                <h2 class="main-title">{{ post.title }}</h2>
            </div>
            <div class="my-6 col-start-3 col-end-11 w-full mb-14">
                <div class="w-full grid grid-cols-3">
                    <img src="" alt="" class="col-start-1 col-end-2">
                    <span class="text-black font-sans font-normal text-4xl leading-10 col-start-2 col-end-3">{{ post.user }}</span>
                    <span class="text-black font-serif font-normal text-lg text-right leading-10 ml-10 col-start-3 col-end-4">{{ post.created_at }}</span>
                </div>
                <div>
                    <img src="{{ post.file.url }}" alt="" class="mb-14 rounded-sm">
                </div>
                <div>
                    <ul class="flex flex-wrap items-center text-lg leading-8 italic font-normal mb-2">
                        <li class="font-serif font-normal text-base leading-7 mr-4">{{ total_likes }}</li>
                        <li class="mr-7">
                            <form action="{% url 'like-post' post.pk %}" method="POST">
                                {% csrf_token %}
                                <button type="submit" name="post_id" value="{{ post.id }}">
                                    <img src="{% static 'gallery/images/upvote.svg' %}" alt="" class="w-[35px] h-[35px]">
                                </button>
                            </form>
                        </li>
                        <li class="font-serif font-normal text-base leading-7 mr-4">{{ post.comments.count }}</li>
                        <li><img src="{% static 'gallery/images/comment.svg' %}" alt="" class="w-[35px] h-[35px]"></li>
                    </ul>
                </div>
                <hr>
                <p class="font-serif mt-3 mb-8 line-clamp-3">{{ post.description }}</p>
                <div>
                    <button
                        class="inline-flex items-center bg-white text-gold-leaf border border-gold-leaf py-1 px-4 focus:outline-none rounded-sm text-base mt-4 md:mt-0">
                        <a href="#">View Artist</a>
                    </button>
                </div>
            </div>
            <div></div>
            <hr>
            <div class="col-start-3 col-end-11">
                <h3 class="font-sans text-black font-normal text-3xl leading-8 text-center mb-8">
                    what are your thoughts?
                </h3>

                <form action="{% url 'art-detail' post.pk %}" method="POST" class="grid grid-cols-10 gap-x-[30px] content-center mb-12">
                    {% csrf_token %}
                    {% for field in form %}
                    <div class="w-full my-6 rounded-sm col-start-1 col-end-8">
                        <p>{{ field.errors }}</p>
                        <p class="font-normal text-black-steel font-serif text-lg leading-[160%]">
                            {{ field }}
                        </p>
                    </div>
                    {% endfor %}
                    <button type="submit" name="post_id" value="{{ post.id }}" class="text-white font-normal font-serif text-lg leading-7 w-full bg-gold-leaf rounded-sm py-2 my-6 col-start-8 col-end-11">Comment</button>
                </form>

                {% for comment in post.comments.all %}
                <div class="w-full grid grid-cols-3">
                    <span class="text-black font-sans font-normal text-lg leading-6 uppercase tracking-widest col-start-1 col-end-3">@{{ comment.user.first_name }}{{ comment.user.last_name }}</span>
                    <span class="text-black font-serif font-normal text-lg leading-10 col-start-3 col-end-4 text-right">{{ comment.created_at }}</span>
                </div>
                <p class="mb-12">
                    {{ comment.comment }}
                </p>
                {% endfor %}
            </div>
        </div>
    </main>
</section>

{% endblock content %}
