<footer class="body-font bg-paper py-11">
    <div class="container max-w-7xl mx-auto grid grid-cols-12 place-content-start px-[60px] gap-x-[30px]">
        <div class="col-start-1 col-end-5">
            <a href="/"><h3 class="font-sans font-medium text-3xl leading-10">art gallery bienne</h3></a>
            <span class="font-serif font-normal text-sm leading-relaxed">Lorem ipsum dolor sit amet, cosecteur.</span>
        </div>
        <div class="col-start-5 col-end-7 font-serif font-normal text-sm leading-relaxed">
            <h4 class="font-sans text-lg font-medium leading-5 tracking-widest uppercase mb-4">art gallery</h4>
            <a href="{% url 'art-list' %}"><p>Show Room</p></a>
            <a href="#"><p>Artists</p></a>
        </div>
        <div class="col-start-7 col-end-9 font-serif font-normal text-sm leading-relaxed">
            <h4 class="font-sans text-lg font-medium leading-5 tracking-widest uppercase mb-4">company</h4>
            <a href="{% url 'about-us' %}"><p>About Us</p></a>
            <a href="#"><p>Imprint</p></a>
            <a href="#"><p>Data Protection</p></a>
            <a href="#"><p>Terms and Conditions</p></a>
        </div>
        <div class="col-start-9 col-end-11 font-serif font-normal text-sm leading-relaxed">
            <h4 class="font-sans text-lg font-medium leading-5 tracking-widest uppercase mb-4">links</h4>
            <a href="#"><p>Facebook</p></a>
            <a href="#"><p>Instagram</p></a>
            <a href="#"><p>Twitter</p></a>
        </div>
        <div class="col-start-11 col-end-13 font-serif font-normal text-sm leading-relaxed">
            <h4 class="font-sans text-lg font-medium leading-5 tracking-widest uppercase mb-4">contact us</h4>
            <a href="#"><p>contact@artgallery-bienne.ch</p></a>
            <a href="#"><p>+41 79 999 99 99</p></a>
            <a href="#"><p>Bahnhofplatz 3<br>2500 Biel/Bienne</p></a>
        </div>
        <div class="col-start-1 col-end-5">
            <span class="font-serif font-normal text-lg leading-relaxed">© Copyright art gallery bienne 2022</span>
        </div>
    </div>
</footer>
